body{
	background-color: #E2E8F0;
}

.title{
	color: #4a5568;
	padding: 10px;
}
.bienvenida{
	color: #4a5568;
	padding: 10px;
	
}
.bienvenida .login{
	padding-top: 20px;
	
}

.boton {
	color: #009688;
	padding: 5px;

}
.post{
	padding: 10px;
	margin: 2px;
	margin-top: 5px;
	

}
#titulo{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		color: rgb(0, 0, 0);
		font-size: 70px;
}

#titulo2{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif, cursive; 
		color: rgb(0, 0, 0);
		font-size: 50px;
		
}

#titulo3{
		 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif, cursive;
		 color: rgb(0, 0, 0);
		font-size: 30px;
}

#titulo4{
		font-family: 'Cabin',sans-serif;
		color: rgb(0, 0, 0);
		font-size: 25px;
}
