{% extends "index.html" %}
{% block content %}
<!-- <form method="post"> -->
<table class="table">
   <tr>
      <th >Edicion Numero  </th>
      <th >Fecha de Edicion  </th>
      <th >AutorID  </th>
      <th >El autor es  </th>
      <th >Nombre de Libro  </th>
      <th >Cantidad de ediciones  </th>
      <th >Precio  </th>
      <th >Cantidad a comprar  </th>
   </tr>
   {% for post in posts %}
   <form method="POST" class="cart-form">
      <tr>
         <td>{{post.IdEdicion}} <input type="hidden" name="IdEdicion" value="{{post.IdEdicion}}"></td>
         <td>{{post.Fecha_Edicion}}</td>
         <td>{{post.UserID}}</td>
         <td>{{post.Nobreyapellido}}</td>
         <td>
            <div class="product-title">{{post.NombreLibro}}</div>
         </td>
         <td>{{post.Cantidad}}</td>
         <td>
            <div class="product-price">{{post.Precio}}$</div>
         </td>
         <td>
            <div class="product-quantity">
               <input class="form-control" name="quantity" type="number" value="0" min="0">
            </div>
         </td>
         <td>
            <div>
               <button type="submit">
                  <i class="fa fa-cart-plus fa-fw"></i>
                  Agregar al carrito
               </button>
            </div>
         </td>
      </tr>
   </form>
   {% endfor %}
</table>

<div class="container-fluid">
   <form action="finalizarVenta" method="POST">
      <input type="text" name="name" placeholder="Nombre">
      <input type="text" name="lastname" placeholder="Apellido">
      <input type="text" name="cuit" placeholder="CUIT">
      <input type="submit" value="Finalizar compra!">
   </form>
</div>

<script>
   $(document).ready(() => {
      $('.cart-form').on('submit', e => {
         $(this).submit()
      });
   });
</script>
{% endblock %}