{% extends "index.html" %}

{% block content %}
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <h2 id = "titulo4">Agregar Autor</h2>
      <form method="post">
        <p id = "titulo4">Nombre y Apellido</p>
        <input type="text" class="form-control" name="Nobreyapellido">
        <br>
        <p id = "titulo4">Biografia</p>
        <textarea name="Biografia" class="form-control" rows="5"></textarea>
        <br>
        <p id = "titulo4">Fehcha de Nacimiento: <input name="Fecha_nacimiento" type="text" id="datepicker"></p>
      
        <button type="submit">Guardar</button>
      </form>
    </div>
  </div>
{% endblock %}