{% extends "index.html" %}
{% block content %}
<div class="boton col-md-12">
   {% if session['email'] %}
   <a href="/agregarAutor" class="btn btn-primary">Agregar Autor</a>
   {% endif %}
</div>
<form name="form1" action="#" onsubmit="requerido()" method="POST">
   <table class="table">
      <tr>
         <th>Buscar por Nombre del autor</th>
      </tr>
      <tr>
      <td><input type="text" name="busqueda" /></td>
      <td><input type="submit" value="Buscar" /></td>
      </tr>
   </table>
</form>

<table class="table">
   <tr>
      <th >El autor es  </th>
      <th >Fecha de Nacimiento  </th>
      <th >AutorID  </th>
      <th >N° de autor  </th>
      <th >Bibliografia del autor  </th>
   </tr>
   {% for posts in posts %}
   <tr>
      <td>{{posts.Nobreyapellido}}</td>
      <td>{{posts.Fecha_nacimiento}}</td>
      <td>{{posts.UserID}}</td>
      <td>{{posts.IdAutor}}</td>
      <td>{{posts.Biografia}}</td>
      {% if session['email'] == posts.UserID %}
      <td>
         <a href="/Autor/editar/{{posts.IdAutor}}">
         <i class="fa fa-pencil fa-fw"></i>Editar
         </a>
         <a href="/Autor/eliminar/{{posts.IdAutor}}">
         <i class="fa fa-trash-o fa-fw"></i>Eliminar
         </a>
      </td>
      {% endif %}
   </tr>
   {% endfor %}
</table>
</div>
{% endblock %}