{% extends "index.html" %}
{% block content %}
<div class="boton col-md-12">
   {% if session['email'] %}
   <a href="/agregarEdicion" class="btn btn-primary">Agregar Edicion</a>
   {% endif %}
</div>
<form name="form1" action="#" onsubmit="requerido()" method="POST">
   <table class="table">
      <tr>
         <th>Buscar por Nombre de autor</th>
         <th>Buscar por Nombre de libro</th>
      </tr>
      <tr>
      <td><input type="text" name="busqueda1" /></td>
      <td><input type="text" name="busqueda2" /></td>
      <td><input type="submit" value="Buscar" /></td>
      </tr>
   </table>
</form>
<table class="table">
   <tr>
      <th >Edicion Numero  </th>
      <th >Fecha de Edicion  </th>
      <th >AutorID  </th>
      <th >El autor es  </th>
      <th >Nombre de Libro  </th>
      <th >Cantidad de ediciones  </th>
      <th >Precio  </th>   
   </tr>
   {% for posts in posts %}
   <tr>
      <td>{{posts.IdEdicion}}</td>
      <td>{{posts.Fecha_Edicion}}</td>
      <td>{{posts.UserID}}</td>
      <td>{{posts.Nobreyapellido}}</td>
      <td>{{posts.NombreLibro}}</td>
      <td>{{posts.Cantidad}}</td>
      <td>{{posts.Precio}}$</td>
      {% if session['email'] == posts.UserID %}
      <td>
         <a href="/Edicion/editar/{{posts.IdEdicion}}">
            <i class="fa fa-pencil fa-fw"></i>Editar
         </a>
      </td>
      {% endif %}
   </tr>
   {% endfor %}
   
</table>

</div>
<script type="text/javascript">
   function requerido()
   {
   var empt1 = document.form1.busqueda1.value;
   var empt2 = document.form1.busqueda2.value;
   if (empt1 === "" && empt2 === "")
   {
   alert("Debe ingresar algun valor en los cuadros de busqueda");
   return false;
   }
   else 
   {
   return true; 
   }
   }
</script>
{% endblock %}