<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Libreria</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>  
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
    
</head>

<body ><!--background="{{ url_for('static', filename='images/Libreria.jpg') }}"-->
  <div class="contenedor">
    <div class="row">
				<div class ="col-md-10">
          <p class="text-center post"></p>
					<p id="titulo" class="text-center post">Libreria Atlas</p>
				</div>
    </div>
    <div class="row post">
      <div class="col-md-9">
        <h3 id="titulo3">Bienvenido {{session['username']}}</h>
      </div>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/public">Home</a></li>
            <li><a href="/autor">Autores</a></li>
            <li><a href="/libros">Libros</a></li>
            <li><a href="/edicion">Edicion</a></li>
            <li><a href="/Ventas">Ventas</a></li>
            {% if session['username'] %}
            <li><a class="text-right login" href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
          {% endif %}
          </ul>
        </div>
      </nav>
    </div>
     <div class="row">
    </div>  
     <div class="row">
          {% block content %}
          {% endblock %}
        
      </div>
  </div>


</body>

</html>
