<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Libreria</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
    
</head>

<body ><!--background="{{ url_for('static', filename='images/Libreria.jpg') }}"-->
  <div class="contenedor">
    <div class="row">
        <div  class ="col-md-2">
          <a href="/public">
          <img  src="{{ url_for('static', filename='images/Libreriai.png') }}" class="img-responsive">
          </a>
        </div>
				<div class ="col-md-10">
					<p id="titulo" class="text-right post">Libreria Atlas</p>
					<p id="titulo2" class="text-right post">Menu Principal</p>
				</div>
    </div>
    <div class="row post">
      <div class="col-md-9">
        <h3 id="titulo3">Bienvenido {{session['username']}}</h>
      </div>
      <div class="col-md-3 text-right login">
        {% if session['email'] %}
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/login">Login</a>
        {% endif %}
		
      </div>
    </div>
     <div class="row">
    </div>
    
     <div class="row">
       
        
          {% block content %}
          {% endblock %}
        
      </div>

  </div>


</body>

</html>
