{% extends "index.html" %}

{% block content %}
      <div class="boton col-md-12">
      {% if session['email'] %}
        <a href="/agregarLibro" class="btn btn-primary">Agregar Libro</a>
		{% endif %}
      </div>
      <form name="form1" action="#" onsubmit="requerido()" method="POST">
         <table class="table">
            <tr>
               <th>Buscar por Nombre de libro</th>
            </tr>
            <tr>
            <td><input type="text" name="busqueda" /></td>
            <td><input type="submit" value="Buscar" /></td>
            </tr>
         </table>
      </form>
  
        <table class="table">
          <tr>
             <th >El nombre del libro es  </th>
             <th >Fecha de escritura del libro  </th>
             <th >Autor </th>
             <th >N° de libro  </th>
             <th >Epigrafe del libro  </th>
          </tr>
          {% for posts in posts %}
          <tr>
        <td>{{posts.NombreLibro}}</td>
        <td>{{posts.Fecha_creacion}}</td>
        <td>{{posts.UserID}}</td>
        <td>{{posts.IdLibro}}</td>
        <td>{{posts.Epigrafe}}</td>
            {% if session['email'] == posts.UserID %}
            <td>
               <a href="/Libros/editar/{{posts.IdLibro}}">
               <i class="fa fa-pencil fa-fw"></i>Editar
               </a>
               <a href="/Libros/eliminar/{{posts.IdLibro}}">
               <i class="fa fa-trash-o fa-fw"></i>Eliminar
               </a>
            </td>
            {% endif %}
         </tr>
         {% endfor %}
      </table>
      </div>
  {% endblock %}
