{% extends "index.html" %}

{% block content %}

<div class="container">
		<hr class="linea">
		</div>
		
		
		<div class="container">
			<div class ="row">
				<div class ="col-md-12">
					<img src="{{ url_for('static', filename='images/PersonaLee.jpg')}}" class="img-responsive center-block">
				</div>
			</div>
		</div>
		
		<div id = "titulo2" class="container">
			<h1 id = "titulo3">ABM Libreria</h1>
		</div>
		
		<div class="container">
			<div class ="row">
				<div class ="col-md-4">
					<img src="{{ url_for('static', filename='images/Autores.jpg')}}" class="img-responsive">
									<a href="/autor" id = "titulo4" class="text-center">ABM Autores</a>
				</div>
				<div class ="col-md-4">
					<img src="{{ url_for('static', filename='images/Libros.jpg')}}" class="img-responsive">
								<a href="/libros" id = "titulo4" class="text-center">ABM Libros</a>
				</div>
				<div class ="col-md-4">
					<img src="{{ url_for('static', filename='images/edicion.jpg')}}" class="img-responsive">
					<a href="/edicion" id = "titulo4" class="text-center">ABM Ediciones</a>	
					
				</div>
			</div>		
		</div>		
	

{% endblock %}