{% extends "index.html" %}
{% block content %}
<div class="boton col-md-12">
   {% if session['email'] %}
   <a href="/realizarVenta" class="btn btn-primary">Realizar Venta</a>
   {% endif %}
</div>
<form name="form1" action="#" onsubmit="requerido()" method="POST">
   <table class="table">
      <tr>
         <th>Buscar por Nombre de autor</th>
         <th>Buscar por Nombre de libro</th>
      </tr>
      <tr>
      <td><input type="text" name="busqueda1" /></td>
      <td><input type="text" name="busqueda2" /></td>
      <td><input type="submit" value="Buscar" /></td>
      </tr>
   </table>
</form>
  <table class="table">
   <tr>
      <th >Venta Numero  </th>
      <th >Fecha de venta  </th>
      <th >Nombre del comprador  </th>
      <th >Cuit del comprador </th>
      <th >Id de Vendedor </th>
      <th >Monto Pagado  </th>   
   </tr>
   {% for posts in posts %}
   <tr>
   </tr>
   {% endfor %}
<script type="text/javascript">
function requerido()
{
var empt1 = document.form1.busqueda1.value;
var empt2 = document.form1.busqueda2.value;
if (empt1 === "" && empt2 === "")
{
alert("Debe ingresar algun valor en los cuadros de busqueda");
return false;
}
else 
{
return true; 
}
}
</script>


{% endblock %}